In [1]:
import numpy as np
import pandas as pd

In [2]:
df_clean2 = pd.read_csv('df_clean2.csv')
df_clean2.keys()

Index(['Unnamed: 0', 'Unnamed: 0.1', 'DateId', 'MemberId', 'OrderGroupCode',
       'TrackSourceTypeDef', 'TrackDeviceTypeDef', 'PayProfileTypeDef',
       'SalesOrderSlaveId', 'SalePageId', 'IsMajor', 'IsGift',
       'IsSalePageGift', 'Quantity', 'UnitPrice', 'PromotionDiscount',
       'ECouponId', 'ECouponDiscount', 'SalesOrderSlaveTotalPayment',
       'SalesOrderSlaveDateTime', 'SalesOrderReceiverId', 'City', 'District',
       'ZipCode', 'StoreName', 'StoreId', 'DeliverTypeDef', 'StatusDef',
       'ReturnGoodsDateId', 'CauseDef', 'new_DateId'],
      dtype='object')

 - 將地區分為北、中、東、南區

In [3]:
dict_region = {"北部":['臺北','台北','新北','基隆','宜蘭','桃園','新竹'],
               "中部":['苗栗','臺中','台中','彰化','南投','雲林'],
               "南部":['嘉義','臺南','台南','高雄','屏東','澎湖'],
               "東部":['花蓮','台東','臺東']
              }

In [4]:
m_state = df_clean2[df_clean2['City'] == df_clean2['City']]  #過濾nan
m_state.head()

,Unnamed: 0,Unnamed: 0.1,DateId,MemberId,OrderGroupCode,TrackSourceTypeDef,TrackDeviceTypeDef,PayProfileTypeDef,SalesOrderSlaveId,SalePageId,...,City,District,ZipCode,StoreName,StoreId,DeliverTypeDef,StatusDef,ReturnGoodsDateId,CauseDef,new_DateId
0,0,0,20150703,1388133,b'\xd0_\x8eby\xe8\x88\xa5\x85\xe4\x15\nMC\xeaO...,Web,Mobile,SevenEleven,4457777,1242871,...,嘉義縣,水上鄉,608.0,中庄門市,910828.0,SevenEleven,Finish,NaN,NaN,2015-07-03 00:00:00
1,1,1,20150703,1388133,b'\xd0_\x8eby\xe8\x88\xa5\x85\xe4\x15\nMC\xeaO...,Web,Mobile,SevenEleven,4457778,1242880,...,嘉義縣,水上鄉,608.0,中庄門市,910828.0,SevenEleven,Finish,NaN,NaN,2015-07-03 00:00:00
2,2,2,20150703,1388133,b'\xd0_\x8eby\xe8\x88\xa5\x85\xe4\x15\nMC\xeaO...,Web,Mobile,SevenEleven,4457779,1242880,...,嘉義縣,水上鄉,608.0,中庄門市,910828.0,SevenEleven,Finish,NaN,NaN,2015-07-03 00:00:00
3,3,3,20150703,1388133,b'\xd0_\x8eby\xe8\x88\xa5\x85\xe4\x15\nMC\xeaO...,Web,Mobile,SevenEleven,4457780,1175574,...,嘉義縣,水上鄉,608.0,中庄門市,910828.0,SevenEleven,Finish,NaN,NaN,2015-07-03 00:00:00
4,4,4,20150703,365787,"b""\x04?}pe$m\x7f\x85\xa0y\x81'e5\xca\xbb\xf9\x...",Web,Mobile,SevenEleven,4457791,1194488,...,桃園市,中壢區,320.0,復華門市,114071.0,SevenEleven,Finish,NaN,NaN,2015-07-03 00:00:00

In [5]:
def get_keys(d, seri_state):
    
    result = list()
    for state in seri_state:
        locate_flag = 0
        for key,value in d.items():
            for a in value:            
                if a in state:
                    result.append(key)
                    locate_flag = 1
                    break
            if locate_flag == 1:
                break
        if locate_flag == 0:
            result.append('not_define')
    return result
    
get_keys(dict_region, ['桃園'])

['北部']

In [6]:
m_state['Area'] = get_keys(dict_region, m_state['City'])

In [7]:
m_state =  m_state[m_state['Area'] != 'not_define'] #

In [8]:
# 取出 "地區、城市、購買數量、物品編號、時間"
a0 = pd.Series(m_state['new_DateId'])
a1 = pd.Series(m_state['SalePageId'])
a2 = pd.Series(m_state['Quantity'])
a3 = pd.Series(m_state['City'])
a4 = pd.Series(m_state['Area'])

data = {'new_DateId':a0,'SalePageId':a1,'Quantity':a2,'City':a3,'Area':a4}
item_loc = pd.DataFrame(data)
item_loc.head()

  Area City  Quantity  SalePageId           new_DateId
0   南部  嘉義縣         1     1242871  2015-07-03 00:00:00
1   南部  嘉義縣         1     1242880  2015-07-03 00:00:00
2   南部  嘉義縣         1     1242880  2015-07-03 00:00:00
3   南部  嘉義縣         1     1175574  2015-07-03 00:00:00
4   北部  桃園市         1     1194488  2015-07-03 00:00:00

In [9]:
city_num = item_loc.groupby(by='City')['Quantity'].sum()
city_num

City
南投縣      74939
台中市     815918
台北市     705464
台南市     407470
台東縣      35217
嘉義市      55276
嘉義縣      68262
基隆市      89367
宜蘭縣      87111
屏東縣     125897
彰化縣     201898
新北市    1196609
新竹市     148414
新竹縣     129924
桃園市     599553
澎湖縣      20190
花蓮縣      69475
苗栗縣     108647
雲林縣      88407
高雄市     580556
Name: Quantity, dtype: int64

In [10]:
name = []
s0 = []
s1 = []
for i in range(len(city_num)):
    item_sum = ((item_loc[item_loc['City'].str.contains((city_num.keys())[i])==True]).groupby(by='SalePageId')['Quantity'].sum()).sort_values(ascending = False).head()
    for j in range(0,5):
        name.append((city_num.keys())[i])
    s0.append(pd.Series(item_sum.keys()))
    s1.append(pd.Series(np.array(item_sum)))
b2 = pd.Series(name)
b1 = pd.Series(s1)
b0 = pd.Series(s0)

In [11]:
t0 = []
t1 = []
for i in range((len(b0))):
    t0 = np.hstack((t0,np.array(b0[i])))
    t1 = np.hstack((t1,np.array(b1[i])))
s0 = pd.Series(t0)
s1 = pd.Series(t1)

In [12]:
# 找出每個縣市最喜歡購買前五名的物品
dataa = {'City':b2,'ItemId':s0,'Quantity':s1}
item_num_loc = pd.DataFrame(dataa)

In [13]:
item_loc.head()

  Area City  Quantity  SalePageId           new_DateId
0   南部  嘉義縣         1     1242871  2015-07-03 00:00:00
1   南部  嘉義縣         1     1242880  2015-07-03 00:00:00
2   南部  嘉義縣         1     1242880  2015-07-03 00:00:00
3   南部  嘉義縣         1     1175574  2015-07-03 00:00:00
4   北部  桃園市         1     1194488  2015-07-03 00:00:00

 - #### 因為有些城市購買的物品相似，所以還是很難看出城市之間不同喜好 ； 因此下一步想做每個城市每個月物品購買隨時間的變化

In [14]:
name = []
item_year = []
item_month =[]
s0 = []
s1 = []
year = ['5','6','7','8']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
for i in range(len(city_num)):
    rr = (item_loc[item_loc['City'].str.contains((city_num.keys())[i])==True]).sort_values(['new_DateId'],ascending = True)
    for q in range(len(year)):
        y = year[q]
        for r in range(len(month)):
            m =  month[r]
            item_sum = (rr[(rr['new_DateId']>'201'+y+'-'+m+'-01') & (rr['new_DateId']<('201'+y+'-'+m+'-31'))].groupby(by='SalePageId')['Quantity'].sum()).sort_values(ascending = False).head()
            for j in range(0,5):
                name.append((city_num.keys())[i])
                item_year.append(('201'+y))
                item_month.append(m)
            s0.append(pd.Series(item_sum.keys()))
            s1.append(pd.Series(np.array(item_sum)))
b4 = pd.Series(item_year)
b3 = pd.Series(item_month)
b2 = pd.Series(name)
b1 = pd.Series(s1)
b0 = pd.Series(s0)

In [15]:
len(b0),len(b1),len(b2),len(b3),len(b4)

(960, 960, 4800, 4800, 4800)

In [16]:
empty_list = []
value_list = []
value_list1 = []
b2_after = []
b3_after = []
b4_after = []
for i in range(len(b0)):
    gg = np.array(b0[i])
    if len(gg) < 4:        
        empty_list.append(i)
    if len(gg) > 4:
        value_list.append(b0[i])
        value_list1.append(b1[i])
        for j in range(0,5):
            b2_after.append(b2[(i*5+j)])
            b3_after.append(b3[(i*5+j)])
            b4_after.append(b4[(i*5+j)])

In [17]:
t0 = []
t1 = []
for i in range((len(value_list))):
    t0 = np.hstack((t0,np.array(value_list[i])))
    t1 = np.hstack((t1,np.array(value_list1[i])))
s0 = pd.Series(t0)
s1 = pd.Series(t1)
s2 = pd.Series(b2_after)
s3 = pd.Series(b3_after)
s4 = pd.Series(b4_after)

In [18]:
dataaa = {'ItemId':s0,'Quantity':s1,'City':s2,'month':s3,'year':s4}
item_num_loc_ = pd.DataFrame(dataaa)

In [19]:
item_num_loc_.head()

  City     ItemId  Quantity month  year
0  南投縣  1162433.0       6.0    05  2015
1  南投縣  1162454.0       5.0    05  2015
2  南投縣  1175642.0       3.0    05  2015
3  南投縣  1162471.0       3.0    05  2015
4  南投縣  1119583.0       3.0    05  2015

In [20]:
i = 0
kk = item_num_loc_[item_num_loc_['City'].str.contains((city_num.keys())[i])==True]
kk

    City     ItemId  Quantity month  year
0    南投縣  1162433.0       6.0    05  2015
1    南投縣  1162454.0       5.0    05  2015
2    南投縣  1175642.0       3.0    05  2015
3    南投縣  1162471.0       3.0    05  2015
4    南投縣  1119583.0       3.0    05  2015
5    南投縣  1194488.0      20.0    06  2015
6    南投縣  1175574.0      14.0    06  2015
7    南投縣  1119555.0      14.0    06  2015
8    南投縣  1194536.0      13.0    06  2015
9    南投縣  1194545.0      12.0    06  2015
10   南投縣  1270622.0      58.0    07  2015
11   南投縣  1208715.0      21.0    07  2015
12   南投縣  1224311.0      21.0    07  2015
13   南投縣  1119387.0      20.0    07  2015
14   南投縣  1242880.0      19.0    07  2015
15   南投縣  1348360.0      26.0    08  2015
16   南投縣  1119728.0      24.0    08  2015
17   南投縣  1316225.0      10.0    08  2015
18   南投縣  1270579.0      10.0    08  2015
19   南投縣  1316187.0       9.0    08  2015
20   南投縣  1460234.0      43.0    09  2015
21   南投縣  1460265.0      18.0    09  2015
22   南投縣  1460149.0      17.0    09  2015
23   南投縣  1460196.0      17.0    09  2015
24   南投縣  1460256.0      15.0    09  2015
25   南投縣  1504091.0      31.0    10  2015
26   南投縣  1530270.0      31.0    10  2015
27   南投縣  1460265.0      30.0    10  2015
28   南投縣  1394346.0      21.0    10  2015
29   南投縣  1504041.0      21.0    10  2015
..   ...        ...       ...   ...   ...
150  南投縣  3830498.0     229.0    11  2017
151  南投縣  3772506.0     197.0    11  2017
152  南投縣  2514549.0      46.0    11  2017
153  南投縣  2779607.0      44.0    11  2017
154  南投縣  3691450.0      38.0    11  2017
155  南投縣  3892255.0     127.0    12  2017
156  南投縣  3876064.0      96.0    12  2017
157  南投縣  2653543.0      59.0    12  2017
158  南投縣  2779607.0      49.0    12  2017
159  南投縣  3837188.0      47.0    12  2017
160  南投縣  3837188.0      53.0    01  2018
161  南投縣  3691450.0      50.0    01  2018
162  南投縣  3876786.0      35.0    01  2018
163  南投縣  3976898.0      33.0    01  2018
164  南投縣  2514549.0      29.0    01  2018
165  南投縣  2779607.0      22.0    02  2018
166  南投縣  4116152.0      22.0    02  2018
167  南投縣  4129759.0      10.0    02  2018
168  南投縣  3048814.0      10.0    02  2018
169  南投縣  2676882.0      10.0    02  2018
170  南投縣  4129759.0      32.0    03  2018
171  南投縣  4116152.0      28.0    03  2018
172  南投縣  2918623.0      24.0    03  2018
173  南投縣  3570408.0      24.0    03  2018
174  南投縣  1830670.0      23.0    03  2018
175  南投縣  4242366.0      39.0    04  2018
176  南投縣  3048789.0      13.0    04  2018
177  南投縣  4255854.0      12.0    04  2018
178  南投縣  4207450.0      11.0    04  2018
179  南投縣  1830670.0      11.0    04  2018

[180 rows x 5 columns]

In [21]:
ItemId_top = []
for i in range(int(len(kk)/5)):
    ItemId_top.append((kk.iloc[[(i*5)]])['ItemId'][(i*5)])

In [22]:
ItemId_top[0:100]

[1162433.0,
 1194488.0,
 1270622.0,
 1348360.0,
 1460234.0,
 1504091.0,
 1597130.0,
 1597130.0,
 1783258.0,
 1910591.0,
 1862588.0,
 1830694.0,
 1119387.0,
 1119387.0,
 2294453.0,
 2336461.0,
 2294453.0,
 2551598.0,
 2676872.0,
 2808947.0,
 2855860.0,
 2896269.0,
 3048814.0,
 3138192.0,
 3217536.0,
 3354289.0,
 3354289.0,
 3512392.0,
 3512392.0,
 3691450.0,
 3830498.0,
 3892255.0,
 3837188.0,
 2779607.0,
 4129759.0,
 4242366.0]

 - #### 想看物品編號對應的商品，比較容易看出關係

In [23]:
raw_data = pd.read_csv('Ntu_Orders.csv')
df = pd.read_csv('Orders.csv',header = 0,sep = ",")

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
a =[1162433.0,1194488.0,1270622.0,1348360.0,1460234.0,1504091.0,1597130.0,1597130.0,1783258.0,
    1910591.0,1862588.0,1830694.0,1119387.0,1119387.0,2294453.0,2336461.0,2294453.0]

In [38]:
i= 16
aaa = raw_data.loc[raw_data['SalePageId'] == a[i]]
aaa

Empty DataFrame
Columns: [SalesOrderSlaveId, DateId, MemberId, TradesOrderSlaveId, ShopId, SalePageId, TradesOrderGroupCode, TrackSourceTypeDef, TrackChannelTypeDef, TrackDeviceTypeDef, LevelOneCategoryName, LevelTwoCategoryName, LevelThreeCategoryName, LevelFourCategoryName, IsMajor, IsGift, Quantity, UnitPrice, PromotionDiscount, EcouponDiscount, SalesOrderSlaveTotalPayment, SalesOrderSlaveDateTime, SalesOrderSlaveStatusDef, PayProfileTypeDef, ShippingProfileTypeDef, EcouponId, IsSalePageGift, new_DateId]
Index: []

[0 rows x 28 columns]

In [ ]:
# 可能物品編號方式不同，因此找不到相對應的物品名稱

 - ## 未來目標 : 將過去資料用 RNN 來預測每個城市在下個月會購買的前五名